canvas {
    margin: 0 auto;
    display: block;
    position: absolute;
    pointer-events: none;
    top: 8.2px;
    zoom: 3;
    image-rendering: pixelated;
    user-select: none;
    user-drag: none;
}

body {
    overflow: auto;
}


* {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

canvas {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input{
    user-select: text;
    -webkit-user-drag: text;
    -webkit-user-select: text;
}