body {
    background: #111;
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}


/* Login page */

.login-window {
    height: 450px;
    width: 400px;
    border-radius: 0px;
    background: rgb(31, 31, 31);
    display: block;
    position: relative;
    margin: 0 auto;
    top: 10vw;
    color: rgb(228, 76, 76);
    max-width: 95%;
    outline: solid 0px rgb(228, 76, 76);
    transition: all .1s;
}

.login-window:hover {
    outline: solid 5px rgb(228, 76, 76);
    ;
}

.login-title {
    font-size: 40px;
    text-align: center;
    display: block;
    top: 40px;
    position: relative;
}

.login-input {
    display: block;
    padding: 5%;
    margin: 5%;
    border: none;
    width: 80%;
    position: relative;
    top: 60px;
    border-radius: 5px;
    color: white;
    background: none;
    text-align: center;
    font-size: 16px;
}

.btn {
    width: 200px;
    height: 60px;
    border: none;
    background: rgb(228, 76, 76);
    font-size: 16px;
    display: block;
    position: relative;
    border-radius: 0px;
    cursor: pointer;
    transition: all .1s;
}

.btn:hover {
    transform: scale(1.1);
}

.login-button {
    margin: 0 auto;
    top: 70px;
    font-size: 20px;
}

.status {
    color: rgb(255, 189, 47);
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 105px;
    position: relative;
}

canvas {
    margin: 0 auto;
    display: block;
    position: absolute;
    pointer-events: none;
    image-rendering: pixelated;
    user-select: none;
    user-drag: none;
}

#ghost-canvas {
    position: absolute;
    top: 25px;
    opacity: .5;
}

#canvas-background {
    position: absolute;
    top: 25px;
    width: 100%;
    height: 576px;
    background: white;
}

.studio-wrap {
    width: 768px;
    display: block;
    position: relative;
    margin: 0 auto;

}

.colors {
    display: block;
    width: 100%;
    position: relative;
    top: 630px;
}

.color {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: blue;
    display: inline-block;
    transition: all .05s;
    cursor: pointer;
    outline: 0px solid white;
}

.color:hover {
    transform: scale(1.1);
}

.color:active {
    transform: scale(.95);
}

.studio-buttons {
    position: relative;
    color: white;
    top: 650px;
}

.title{
    position: relative;
    top: -18px;
    margin-right: 10px;
    margin-left: 10px;
}

.studio-buttons>button {
    cursor: pointer;
    min-width: 50px;
}

#frame-status {
    color: white;
    font-size: 20px;
    text-align: right;
    display: inline-block;
    left: -10px;
    top: -15px;
    position: relative;
}

button {
    height: 50px;
    width: 50px;
    position: relative;
    border: none;
    margin-right: 5px;
    background: rgb(41, 41, 41);
    cursor: pointer;
    border-radius: 5px;
    transition: all .01s;
}

button:focus {
    outline: 0;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 40px;
    transition: all .1s;
    transform: scale(.9);
}

.playback {
    float: right;
    top: 576px;
    position: relative;
}

#fps {
    height: 45px;
    width: 50px;
    border-radius: 5px;
    padding-left: 10px;
    top: -20px;
    font-size: 16px;
    position: relative;
    border: none;
    text-align: center;
}

#upload{
    display: inline-block;
    position: absolute;
    right: 0px;
}

.upload-status{
    color:white;
    text-align: center;
    display: block;
    top: 140px;
    z-index: 100;
    position: relative;
}

#save-popup{
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    left: 184px;
    top: 100px;
    width: 400px;
    height: 350px;
    background: rgb(22, 22, 22);
    transition: all .2s;
    transform: scale(0);
}

.text{
    color: white;
    font-size: 40px;
    text-align: center;
    top: 40px;
    position: relative;
}

#upload-input{
    border: none;
    top: 85px;
    left: 10%;
    font-size: 20px;
    position: relative;
    padding: 2.5%;
    width: 75%;
    height: 40px;
    border-radius: 5px;
}

.upload-button{
    position: relative;
    border: none;
    top: 110px;
    left: 10%;
    font-size: 20px;
    position: relative;
    width: 80%;
    height: 50px;
    background: rgb(91, 230, 66);
    border-radius: 5px;
    transition: all .05s;
}

.upload-button:hover{
    transform: scale(1.1);
}
.upload-button:active{
    transform: scale(.95);
}

/* Home screen */

#home-wrap{
    width: 900px;
    max-width: 90%;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 30px;
}

#home-header{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: rgb(218, 30, 71);
}

#home-title{
    position: relative;
    font-size: 30px;
    top: 30px;
    left: 50px;
}

.feed{
    margin: 0 auto;
    display: block;
    position: relative;
    width: 100%;
    top: 50px;
}

.flip-note{
    max-width: 552px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 480px;
    background: rgb(34, 34, 34);
    border-bottom: solid rgb(218, 30, 71) 5px;
    border-radius: 5px;
}

.flip-note-title{
    color: white;
    font-size: 20px;
    top: 45px;
    left: 20px;
    position: relative;
}


.nr-likes, .nr-likes-x{
    color: white;
    float: right;
    text-align: right;
    top: 45px;
    right: 22px;
    font-size: 20px;
    position: relative;
    margin-left: 5px;
}

.flip-image{
    background: white;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 20px;
    border-radius: 5px;
}

.star{
    height: 50px;
    width: 50px;
    position: relative;
    fill: rgb(187, 187, 187);
    float: right;
    top: 30px;
    right: 20px;
    cursor: pointer;
    transition: all .1s;
}

.star:hover{
    transform: /* rotate(72deg) */ scale(1.1);
    fill: rgb(218, 30, 71);
}

.star:active{
    transform: /* rotate(0deg) */ scale(0.95);
}

